// Layout configuration

/// Layout max-width in `px` without outer gutter/offset
$layout-max-width: 1360px !default;

/// Grid offset / outer gutter / horizontal margin
$grid-offset: (
  default: 15px,
) !default;

// CSS grid configuration
$css-grid: (
  default: (
    cols-num: 6,
    col-width: 40px,
    gutter-width: 12px,
    gutter-type: 'static',
  ),
) !default;

// Relative grid configuration
// Relative grid (rel-grid) refers to a legacy-style fluid grid (no CSS grid
// involved). Same grid is used for *all* breakpoints.

/// Gutter width in `px`
$rel-grid-gutter-width: 32px !default;
/// Column width in `px`
$rel-grid-col-width: 84px !default;
