// Typographic configuration

// Font sizes
// e.g. $font-sizes: (
//   's': 16px,
//   'm': 24px,
//   'l': 36px,
// );
$font-sizes: () !default;

// Line heights
// e.g. $line-heights: (
//   's': 20px,
//   'm': 30px,
//   'l': 45px,
// );
$line-heights: () !default;

// Letter spacing
// NOTE: If letter-spacing for a given key is `0` you can safely omit the key.
// e.g. $letter-spacing: (
//   's': 0.01em,
//   'm': 0.005em,
// );
$letter-spacing: () !default;

// Vertical spacing (margin-top, margin-bottom)
// Browser default is `1em`
// Example: Set equal to line-height for vertical space of a blank line
// Example: Set half of line-height for vertical space of half a blank line
// $vertical-spacing: (
//   's': 20px,
//   'm': 30px,
// );
$vertical-spacing: () !default;

// 'Fluid' font sizes are scaled down for the given responsive breakpoints
// e.g. $fluid-type: (
//   'l': (
//     'default': 'm',
//     'rat': 'l',
//   ),
//   'm': (
//     'default': 's',
//     'rat': 'm',
//   ),
// );
$fluid-type: () !default;
