@use '../config';
@use './conversion' as convert;
@use 'sass:math';
@use '~sass-mq/mq';

/// Mixin to ensure font sizes and line heights are used consistently.
/// @param {enum} $size ['m'] -
///   The key for the requested font size
/// @param {bool} $set-line-height [true] -
///   Set false to exclude 'line-height'
/// @param {bool} $set-vertical-offset [false] -
///   Set true to include 'margin-top' and 'margin-bottom'
/// @output
/// @example scss
///   // Configuration
///   @use '~@pixelherz/sassbox' with (
///     $breakpoints: (
///       rat: 768px,
///     ),
///     $font-sizes: (
///       s: 16px,
///       m: 24px,
///       l: 36px,
///     ),
///     $line-heights: (
///       s: 20px,
///       m: 30px,
///       l: 45px,
///     ),
///     $letter-spacing: (
///       s: 0.01em,
///       m: 0.005em,
///       l: 0,
///     ),
///     $vertical-spacing: (
///       s: 20px,
///       m: 30px,
///       l: 45px,
///     ),
///     $fluid-type: (
///       l: (
///         default: 'm',
///         rat: 'l',
///       ),
///       m: (
///         default: 's',
///         rat: 'm',
///       ),
///     ),
///   );
///
///   // Usage
///   .title {
///     @include sassbox.font-size('l');
///   }
///   .paragraph {
///     @include sassbox.font-size('m', $set-vertical-offset: true);
///   }
/// @since 1.0.0
/// @group typography

@mixin font-size(
  $size: 'm',
  $set-line-height: true,
  $set-vertical-offset: false,
  $set-responsive: true
) {
  @if ($set-responsive != true) {
    @include -set-font-size($size, $set-line-height, $set-vertical-offset);
  } @else if map-has-key(config.$fluid-type, $size) {
    $bps: map-get(config.$fluid-type, $size);
    @each $bp in $bps {
      $bp-name: nth($bp, 1);
      $bp-size: nth($bp, 2);
      // Default (no breakpoint)
      @if ($bp-name == 'default') {
        @include -set-font-size(
          $bp-size,
          $set-line-height,
          $set-vertical-offset
        );
      }
      // Breakpoint
      @else if map-has-key(mq.$breakpoints, $bp-name) {
        @include mq.mq($from: $bp-name) {
          @include -set-font-size(
            $bp-size,
            $set-line-height,
            $set-vertical-offset
          );
        }
      }
      // Breakpoint invalid
      @else {
        @warn "Breakpoint '#{$bp-name}' is not defined in $breakpoints. Check your configuration in $fluid-type, make sure $breakpoints is available or add the breakpoint to $breakpoints.";
      }
    }
  } @else {
    @include -set-font-size($size, $set-line-height, $set-vertical-offset);
  }
}

// Helper for mixin font-size
@mixin -set-font-size(
  $size: 'm',
  $set-line-height: true,
  $set-vertical-offset: false
) {
  // Collect values
  $font-size: map-get(config.$font-sizes, $size);
  $line-height: map-get(config.$line-heights, $size);

  // Output
  font-size: convert.px-to-rem($font-size);
  @if map-has-key(config.$letter-spacing, $size) {
    letter-spacing: map-get(config.$letter-spacing, $size);
  }
  @if $set-line-height {
    line-height: convert.px-to-rem($line-height);
  }
  @if $set-vertical-offset {
    $offset-v-abs: $line-height;
    @if map-has-key(config.$vertical-spacing, $size) {
      $offset-v-abs: map-get(config.$vertical-spacing, $size);
    }
    $offset-v: math.div($offset-v-abs, $font-size) * 1em;
    margin-top: $offset-v;
    margin-bottom: $offset-v;
  }
}
