@use '../config';
@use 'sass:math';
@use '~sass-mq/mq';

/// Get the max grid offset / outer gutter / horizontal margin.
/// Returns the highest value from $grid-offset.
@function grid-max-offset() {
  // Collect all offsets (outer gutter) in a list.
  // We'll use this later to get the max offset.
  $grid-offsets: ();
  @each $bp in config.$grid-offset {
    $grid-offsets: append($grid-offsets, nth($bp, 2));
  }
  @return math.max(0, $grid-offsets...);
}

/// Inject grid offset for configuration in `$grid-offset`
@mixin apply-grid-offset($prop: 'margin') {
  @each $offset in config.$grid-offset {
    $bp-name: nth($offset, 1);
    $offset-val: nth($offset, 2);
    // Default (no breakpoint)
    @if $bp-name == 'default' {
      #{$prop}-right: $offset-val;
      #{$prop}-left: $offset-val;
    }
    // Breakpoint
    @else if map-has-key(mq.$breakpoints, $bp-name) {
      @include mq.mq($from: $bp-name) {
        #{$prop}-right: $offset-val;
        #{$prop}-left: $offset-val;
      }
    }
    // Breakpoint invalid
    @else {
      @warn "Breakpoint '#{$bp-name}' is not defined in $breakpoints. Check your configuration in $grid-offset, make sure $breakpoints is available or add the breakpoint to $breakpoints.";
    }
  }
}
